---
import Button from "@components/button";
import Card from "@components/card.astro";
import Layout from "@layouts/Layout.astro";
import { navCollapseId } from "@constants";

import Pin from "@icons/sli/pin";
import Cup from "@icons/sli/cup";
import Tag from "@icons/sli/tag";
import Key from "@icons/sli/key";
import Fire from "@icons/sli/fire";
import Note from "@icons/sli/note";
import Basket from "@icons/sli/basket";
import Handag from "@icons/sli/handbag";
import Picture from "@icons/sli/picture";

// TODO: every type of service should be automatically sent to the Designer and Printer
// TODO: Custom Merch service should be sent only to Cristi for review first

// TODO: add onClick form prefill
const cards = [
    {
        Icon: Fire,
        title: "Graphic Design",
        description: "Craft visually compelling graphics that communicate your brand’s message clearly and memorably",
    },
    {
        Icon: Tag,
        title: "Stickers/Decals",
        description:
            "Produce durable, high-quality stickers and decals that elevate packaging and promotional materials",
    },
    {
        Icon: Pin,
        title: "Jacket Pins",
        description: "Design custom enamel pins that add a touch of personality and professionalism to any garment",
    },
    {
        Icon: Picture,
        title: "Wall Posters/Banners",
        description: "Create impactful posters and banners that capture attention and reinforce your brand identity",
    },
    {
        Icon: Handag,
        title: "T-Shirts",
        description: "Deliver premium custom t-shirts that combine comfort and style to showcase your brand",
    },
    {
        Icon: Cup,
        title: "Mugs",
        description: "Produce bespoke mugs featuring your logo for memorable promotional giveaways or corporate gifts",
    },
    {
        Icon: Key,
        title: "Keychains",
        description: "Design durable keychains that keep your brand top of mind with every use",
    },
    {
        Icon: Basket,
        title: "Custom Merch",
        description: "Offer a full range of branded merchandise tailored to engage your audience and drive loyalty",
    },
    {
        Icon: Note,
        title: "Balls",
        description: "TODO balls description",
    },
];
---

<Layout navCollapseId={navCollapseId}>
    <div class="bg-black-primary py-28 pb-32 px-global md:pb-36 lg:pb-40">
        <section class="container relative m-auto text-center sm:text-left">
            <div
                class="absolute -top-4 left-12 z-0 hidden h-[17rem] w-96 rotate-[-16deg] border-4 border-gradient sm:block md:-top-6 md:h-80 md:w-[28rem] lg:-top-7 lg:h-[23rem] lg:w-[32rem]"
                style={{
                    clipPath: "polygon(41.74% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 75.62%, 42.75% 72.18%);",
                }}>
            </div>
            <h1 class="text-gradient relative z-10 font-gilroy text-5xl font-black sm:text-6xl md:text-7xl lg:text-8xl">
                Looking for <br />
                Something?
            </h1>
            <p class="mt-3 text-xl sm:text-2xl">Decals? Jacket Pins? T-Shirts? Posters?</p>
            <Button class="btn-bg-animate mt-5 border-2 bg-transparent border-gradient">
                <span class="relative">GET STARTED</span>
            </Button>
        </section>
    </div>
    <div id={navCollapseId} class="bg-black-secondary py-20 px-global">
        <section class="container m-auto space-y-4 text-center sm:px-0">
            <h4 class="text-3xl">Our Services</h4>
            <p class="pb-6">We are making top quality decals, jacket pins, t-shirts, and posters</p>
            <div class="grid grid-cols-1 gap-5 lg:grid-cols-3">
                {
                    cards.map(({ Icon, title, description }) => (
                        <Card class="size-full p-6 lg:px-6 lg:py-10" Icon={Icon} title={title} text={description} />
                    ))
                }
            </div>
        </section>
    </div>
</Layout>
