---
export const prerender = true;

import Button from "@components/button";
import Card from "@components/card.astro";
import Layout from "@layouts/Layout.astro";

import Fire from "@icons/sli/fire";
import Note from "@icons/sli/note";

const cards = [
    {
        Icon: Fire,
        title: "Graphic Design",
        description:
            "Unleash creativity with bold designs that captivate, inspire, and differentiate your brand in a crowded market",
    },
    {
        Icon: Fire,
        title: "Balls",
        description: "Balls description",
    },
    {
        Icon: Note,
        title: "Custom Merch",
        description:
            "Stand out with custom apparel and accessories designed to connect, leaving a lasting impression on every customer",
    },
];

const navCollapseId = "navCollapseTarget";
---

<Layout navCollapseId={navCollapseId}>
    <div class="bg-black-primary py-24 px-global md:pb-32 lg:pb-36">
        <section class="container relative m-auto text-center sm:text-left">
            <div
                class="absolute -top-4 left-12 z-0 hidden h-[17rem] w-96 rotate-[-16deg] border-4 border-gradient sm:block md:-top-6 md:h-80 md:w-[28rem] lg:-top-7 lg:h-[23rem] lg:w-[32rem]"
                style={{
                    clipPath: "polygon(41.74% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 75.62%, 42.75% 72.18%);",
                }}>
            </div>
            <h1
                class="relative z-10 bg-gradient bg-clip-text font-gilroy text-5xl font-black text-transparent sm:text-6xl md:text-7xl lg:text-8xl">
                Looking for <br />
                Something?
            </h1>
            <p class="mt-3 text-xl sm:text-2xl">Decals? Jacket Pins? T-Shirts? Posters?</p>
            <Button class="btn-bg-animate mt-5 border-2 bg-transparent border-gradient">
                <span class="relative">GET STARTED</span>
            </Button>
        </section>
    </div>
    <div id={navCollapseId} class="bg-black-secondary py-6 px-global">
        <section class="container m-auto space-y-4 text-center sm:px-0">
            <h4 class="text-3xl">Our Services</h4>
            <p class="pb-6">We are making top quality decals, jacket pins, t-shirts, and posters</p>
            <div class="grid grid-cols-1 gap-5 lg:auto-cols-fr lg:grid-flow-col">
                {
                    cards.map(({ Icon, title, description }) => (
                        <Card class="size-full p-6 lg:px-6 lg:py-10" Icon={Icon} title={title} text={description} />
                    ))
                }
            </div>
        </section>
    </div>
</Layout>
